button {
  width: 60px;
  height: 60px;
  border: none;
  padding: 10px;
  margin: 6px;
  border-radius: 50px;
  font-size: 24px;
  color: #333333;
  box-shadow: 0px 0px 2px 4px rgba(128, 128, 128, 0.466);
}

.keypad {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.specialBtn {
  background-color: #4834d4;
  color: #fff;
}

.orangeBtn {
  background-color: orange;
  color: #fff;
}

button:focus {
  outline: 0;
}
