.app_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sidetext {
  color: rgb(0, 0, 0);
}

.sidetext h4 {
  margin: 5px 15px;
}

.app {
  width: 320px;
  height: 565px;
  background-color: rgba(255, 255, 255, 0.267);
  border-radius: 6px;
  margin-top: 30px;
}

.apptitle {
  font-size: 40px;
  font-weight: bold;
  color: rgb(24, 24, 24);
}

.instructions {
  margin-top: 50px;
}

.credits {
  margin-top: 50px;
}